


  <!-- Topbar -->
  <div class="arlo_tm_topbar">
    <div class="topbar_inner">
      <div class="container">
        <div class="topbar_in">
          <div class="logo">
            <a href="#"><img src="img/logo/mobile.png" alt="" /></a>
          </div>
          <div class="trigger">
            <a href="#">
              <span class="menu">Menu</span>
              <span class="close">Close</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="container">
        <div class="dropdown_inner">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Topbar -->
  
  <!-- LEFTPART -->
  <div class="arlo_tm_leftpart">
    <div class="inner">
      <div class="logo">
        <a class="dark" href="#"><img src="img/logo/logo.png" alt="" /></a>
        <a class="light" href="#"><img src="img/logo/light.png" alt="" /></a>
      </div>
      <div class="menu scrollable">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="bottom">
        <div class="social">
          <ul>
            <li><a href="#"><i class="xcon-facebook"></i></a></li>
            <li><a href="#"><i class="xcon-twitter"></i></a></li>
            <li><a href="#"><i class="xcon-linkedin"></i></a></li>
            <li><a href="#"><i class="xcon-instagram"></i></a></li>
            <li><a href="#"><i class="xcon-behance"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="resize">
        <a href="#"><span></span></a>
      </div>
    </div>
  </div>
  <!-- /LEFTPART -->