{% extends 'layout.html' %}
{% block body %}

<h3>Makaleler</h3>
<hr>
{% if makaleler %}
<ul class="list-group">     <!-- Boostrap'den aldığımız list-group fonksiyonu ile çalışıyoruz. -->
    {% for makale in makaleler %}
        <li class = "list-group-item">{{makale.title}}</li> <!-- Makalelerimizin sadece başlık kısmı görünsün diye bu şekilde yazdık. -->
    {% endfor %}
  </ul>
{% else %}
    <div class = "alert alert-danger "> Bu blokta henüz makale bulunmuyor.</div>  <!-- Hiçbir makale olmadığında yani result değeri 0 geldiğinde bu döngü çalışacak ve makale olmadığından dolayı uyarı mesajı vereceğiz. -->
{% endif %}

{% endblock %}